.sections {
  position: relative;
  height: calc(100vh-70px);
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}
.sections {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.sections > * {
  height: calc(100vh-70px);
  scroll-snap-align: start;
}
